.root{
    -fx-accent: #C6ADD0;
    -fx-focus-color: #C6ADD0;
    -fx-background-color: #ffffff;
    -fx-font-size: 1px;
}

.button {
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
    -fx-font-size: 16em;
}
/* see https://stackoverflow.com/questions/26482047/resize-togglebutton-in-javafx
For some reason it doesn't work with em :( */

/*.radio-button {*/
/*    -fx-font-family: SansSerif;*/
/*    -fx-font-size: 16em;*/
/*}*/

/*.radio-button .label {*/
/*    -fx-font-family: SansSerif;*/
/*    -fx-font-size: 16em;*/
/*}*/

.radio-button .radio{
    -fx-background-insets: 0;
    -fx-background-color: transparent, white, transparent, white;
    -fx-background-radius: 100em;
    -fx-padding: 0.4em;
    -fx-box-border: none;
    -fx-focus-color: black;
    -fx-faint-focus-color: -fx-control-inner-background;
    -fx-text-box-border: -fx-control-inner-background;
    -fx-border-width: 0em;
}

.radio-button .radio .dot {
    -fx-padding: 0.3em;
    -fx-background-radius: 100em;
    -fx-mark-highlight-color: black ;
    -fx-mark-color: black ;
}

.text-field {
    -fx-font-size: 17em;
    -fx-background-insets: 0;
    -fx-background-color: none;
    -fx-box-border: none;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-text-box-border: transparent;
    -fx-border-width: 1em;
    -fx-background-radius: 100em;
    -fx-border-radius: 100em;
}
.text-field .content {
    -fx-background-color: transparent, white, transparent, white;
}

.text-field:focused .content {
    -fx-background-color: transparent, white, transparent, white;
}

.combo-box {
    -fx-border-radius: 20em;
    -fx-background-radius: 20em;
    -fx-border-color: #000000;
    -fx-background-color: #ffffff;
    -fx-border-width: 2em;
}

.combo-box .list-cell
{
    -fx-font-size: 17em;
    -fx-background: white;
    -fx-background-color: transparent;
    -fx-text-fill: -fx-text-base-color;
    -fx-background-radius: 20em;
    -fx-border-radius: 20em;
}

.combo-box-popup .list-view
{
    -fx-background-color: white;
    -fx-effect: none;
    -fx-background-radius: 20em;
    -fx-border-radius: 20em;
}

.combo-box .scroll-bar:vertical {
    -fx-background-color: transparent;
}

.combo-box-popup .list-view .list-cell
{
    -fx-background-color: white;
    -fx-background-radius: 20em;
    -fx-border-radius: 20em;
}

.combo-box-popup .list-view .list-cell:filled:selected, .combo-box-popup .list-view .list-cell:filled:selected:hover
{
    -fx-background-color: -fx-selection-bar;
    -fx-text-fill: white;
    -fx-background-radius: 20em;
    -fx-border-radius: 20em;
}

.combo-box-popup .list-view .list-cell:filled:hover
{
    -fx-background-color: -fx-selection-bar;
    -fx-text-fill: white;
    -fx-opacity: .5;
    -fx-background-radius: 20em;
    -fx-border-radius: 20em;
}

/* Language Combo box */

.combo-box.language {
    -fx-pref-width: 40em;
    -fx-border-radius: 20em;
    -fx-background-radius: 20em;
    -fx-border-color: black;
    -fx-background-color: transparent;
    -fx-border-width: 2em;
    -fx-alignment: center;
    -fx-padding: -2em -1em 0em 0em;
}


.combo-box.language .list-cell
{
    -fx-font-size: 15em;
    -fx-font-weight: bold;
    -fx-background-color: transparent;
    -fx-text-fill: -fx-text-base-color;
    -fx-background-radius: 0;
    -fx-border-radius: 0;
    -fx-alignment: center;
    -fx-padding: 0em 0em 0em 0em;
}


.combo-box.language .combo-box-popup .list-view
{
    -fx-pref-width: 40em;
    -fx-background-color: transparent;
    -fx-effect: none;
    -fx-background-radius: 20em;
    -fx-border-radius: 20em;
    -fx-padding: 0em 0em 0em 0em;
    -fx-alignment: center;
}


.combo-box.language .combo-box-popup .list-view .list-cell
{
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-border-radius: 0;
}

.combo-box.language .combo-box-popup .list-view .list-cell:filled:selected, .combo-box-popup .list-view .list-cell:filled:selected:hover
{
    -fx-background-color: transparent;
    -fx-text-fill: -fx-text-base-color;
    -fx-background-radius: 20em;
    -fx-border-radius: 20em;
}

.combo-box.language .combo-box-popup .list-view .list-cell:filled:hover
{
    -fx-background-color: transparent;
    -fx-text-fill: -fx-text-base-color;
    -fx-opacity: .5;
    -fx-background-radius: 20em;
    -fx-border-radius: 20em;
}

.border-pane {
    -fx-border-radius: 20;
    -fx-border-color: black;
    -fx-border-width: 2em;
}

.rectangle {
    -fx-fill: TRANSPARENT;
    -fx-stroke: black;
    -fx-stroke-width: 2em;
    -fx-arc-height: 25em;
    -fx-arc-width: 25em;
}

/* Sing's and label's fonts*/
.codetracker-sign {
    -fx-font-family: SansSerif;
    -fx-font-weight: bold;
    -fx-font-size: 48em;
}

.sanserif-bold-20 {
    -fx-font-family: SansSerif;
    -fx-font-weight: bold;
    -fx-font-size: 20em;
}

.sanserif-bold-15 {
    -fx-font-family: SansSerif;
    -fx-font-weight: bold;
    -fx-font-size: 15em;
}

.sanserif-16 {
    -fx-font-family: SansSerif;
    -fx-font-size: 16em;
}

.sanserif-17 {
    -fx-font-family: SansSerif;
    -fx-font-size: 15em;
}

.sanserif-20 {
    -fx-font-family: SansSerif;
    -fx-font-size: 20em;
}

.sanserif-bold-24 {
    -fx-font-family: SansSerif;
    -fx-font-weight: bold;
    -fx-font-size: 24em;
}

/* Vertical and horizontal boxes */

.h-box {
    -fx-spacing: 10em;
    -fx-alignment: center-left;
}

.v-box {
    -fx-alignment: top-center;
}

.line {
    -fx-stroke-width: 2em;
}

